<a href="https://colab.research.google.com/github/MontMendez/EstadisticaVerano/blob/main/EjerciciosSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Operaciones con Series

Un grupo de estudiantes registró las horas que dedicaron a estudiar durante una semana. Los datos (en horas) son los siguientes:

Datos: `0, 3, 3, 2, 4, 5, 1, 2, 1, 6, 0, 5, 2`

Calcula la media del número de horas estudiadas.

Calcula la varianza de los datos.

Calcula la desviación estándar.

¿La varianza y la desviación estándar corresponden a una muestra o a una población?

In [ ]:
datos=[0, 3, 3, 2, 4, 5, 1, 2, 1, 6, 0, 5, 2]
import pandas as pd
serie_datos= pd.Series(datos)
print("La media es:")
print(serie_datos.mean())
print("\n")
print("La varianza es:")
print(serie_datos.var())
print("\n")
print("La desviaciòn estàndar es:")
print(serie_datos.std())

La media es:
2.6153846153846154


La varianza es:
3.756410256410257


La desviaciòn estàndar es:
1.9381460874790262

Usando los datos del ejercicio anterior, realiza lo siguiente:

Sumale 2 a cada uno de los elementos

Multiplica por 3 cada uno de los elementos

Eleva al cuadrado cada uno de los elementos

In [ ]:
print("Sumale 2 a cada uno de los elementos")
serie_datos+2

Sumale 2 a cada uno de los elementos

0     2
1     5
2     5
3     4
4     6
5     7
6     3
7     4
8     3
9     8
10    2
11    7
12    4
dtype: int64

In [ ]:
print("Multiplica por 3 cada uno de los elementos")
serie_datos*3

Multiplica por 3 cada uno de los elementos

0      0
1      9
2      9
3      6
4     12
5     15
6      3
7      6
8      3
9     18
10     0
11    15
12     6
dtype: int64

In [ ]:
print("Eleva al cuadrado cada uno de los elementos")
serie_datos**2

Eleva al cuadrado cada uno de los elementos

0      0
1      9
2      9
3      4
4     16
5     25
6      1
7      4
8      1
9     36
10     0
11    25
12     4
dtype: int64

Usando los datos del primer ejercicio, realiza lo siguiente:

Resta 5 a cada uno de los elementos y realiza la suma de los elementos resultantes

Multiplica por 2 cada uno de los elementos y realiza la suma

Eleva al cuadrado cada uno de los elementos y después realiza la suma de los elementos resultantes

Realiza la suma de los elementos y después eleva al cuadrado

In [ ]:
print("Resta 5 a cada uno de los elementos")
print(serie_datos-5)
print("realiza la suma de los elementos resultantes")
print((serie_datos-5).sum())
print("\n")
print("Multiplica por 2 cada uno de los elementos")
print(serie_datos*2)
print("realiza la suma")
print((serie_datos*2).sum())
print("Eleva al cuadrado cada uno de los elementos")
print(serie_datos**2)
print("después realiza la suma de los elementos resultantes")
print((serie_datos**2).sum())
print("Realiza la suma de los elementos")
print(serie_datos.sum())
print("después eleva al cuadrado")
print((serie_datos.sum()**2))

Resta 5 a cada uno de los elementos
0    -5
1    -2
2    -2
3    -3
4    -1
5     0
6    -4
7    -3
8    -4
9     1
10   -5
11    0
12   -3
dtype: int64
realiza la suma de los elementos resultantes
-31


Multiplica por 2 cada uno de los elementos
0      0
1      6
2      6
3      4
4      8
5     10
6      2
7      4
8      2
9     12
10     0
11    10
12     4
dtype: int64
realiza la suma
68
Eleva al cuadrado cada uno de los elementos
0      0
1      9
2      9
3      4
4     16
5     25
6      1
7      4
8      1
9     36
10     0
11    25
12     4
dtype: int64
después realiza la suma de los elementos resultantes
134
Realiza la suma de los elementos
34
después eleva al cuadrado
1156